<div class="container my-2 px-2">
  <div class="row mt-1">
    <div class="col-3">
      <h1>Agregar Libro</h1>
      <form #formulario="ngForm" (submit)="guardar()">
        <div class="form-group">
          <label for="titulo" class="small mb-1">Título</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="titulo"
            [(ngModel)]="libro.titulo"
            required
            id="titulo"
            #titulo="ngModel"
            placeholder="Título obligatorio"
          />
          <span
            class="form-text text-danger"
            *ngIf="!titulo.valid && titulo.touched"
          >
            Título obligatorio
          </span>
        </div>
        <div class="form-group">
          <label for="paginas" class="small mb-1">Páginas</label>
          <input
            type="number"
            class="form-control form-control-sm"
            name="paginas"
            [(ngModel)]="libro.paginas"
            required
            min="0"
            id="paginas"
            #paginas="ngModel"
            placeholder="Páginas obligatorio"
          />
          <span
            class="form-text text-danger"
            *ngIf="!paginas.valid && paginas.touched"
          >
            Número de páginas obligatorio
          </span>
        </div>
        <div class="form-group">
          <label for="precio" class="small mb-1">Precio</label>
          <input
            type="number"
            class="form-control form-control-sm"
            name="precio"
            [(ngModel)]="libro.precio"
            required
            min="0"
            id="precio"
            #precio="ngModel"
            placeholder="Precio obligatorio"
          />
          <span
            class="form-text text-danger"
            *ngIf="!precio.valid && precio.touched"
          >
            Precio obligatorio
          </span>
        </div>
        <div class="form-check">
          <input
            class="form-check-input form-control-sm"
            type="checkbox"
            [(ngModel)]="libro.descatalogado"
            id="descatalogado"
            name="descatalogado"
            style="transform: scale(0.6);"
          />
          <label class="form-check-label" for="descatalogado" class="small mb-1">
            Descatalogado
          </label>
        </div>
        <div class="form-group">
          <label for="editorial" class="small mb-1">Editorial</label>
          <select
            class="form-select form-control-sm"
            [(ngModel)]="libro.editorialId"
            name="editorial"
            required
            Id="editorial"
            style="font-size: 0.9rem;"
          >
            <option value="null" >Selecciona una Editorial</option>
            <option
              *ngFor="let editorial of editoriales"
              [value]="editorial.idEditorial"
            >
              {{ editorial.nombreEditorial }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="autor" class="small mb-1">Autor</label>
          <select
            class="form-select form-control-sm"
            [(ngModel)]="libro.autorId"
            name="autor"
            required
            Id="autor"
            style="font-size: 0.9rem;"
          >
            <option value="null">Selecciona un Autor</option>
            <option *ngFor="let autor of autores" [value]="autor.idAutor">
              {{ autor.nombreAutor }}
            </option>
          </select>
        </div>
        <!-- Mostrar el nombre de la imagen seleccionada -->
        <div class="form-group" *ngIf="libro.fotoNombre">
          <label for="nombreImagen" class="small mb-1">Nombre de la imagen seleccionada:</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="nombreImagen"
            [(ngModel)]="libro.fotoNombre"
            name="nombreImagen"
            readonly
          />
        </div>
        <div class="mt-3">
          <label for="imagen" class="form-label" class="small mb-1">Elegir imagen</label>
          <input
            class="form-control form-control-sm"
            type="file"
            id="imagen"
            (change)="onChange($event)"
            accept="image/*"
            #fileInput
            style="font-size: 0.60rem;"
          />
        </div>
        <div class="d-flex gap-2 mt-2">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="onAceptar()"
          [disabled]="formulario.invalid"
          style="font-size: 0.85rem; padding: 0.25rem 0.75rem;"
        >
          Aceptar
        </button>
        <button
          type="button"
          class="btn btn-warning"
          *ngIf="libro.isbn !== 0"
          (click)="cancelarEdicion()"
          style="font-size: 0.85rem; padding: 0.25rem 0.75rem;"
        >
          Cancelar edición
        </button>
        </div>
      </form>
    </div>
    <div class="col-9">
      <p-table
        [value]="libros"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="{first} de {last} de un total de {totalRecords} libros"
        [rowsPerPageOptions]="[5, 10]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th style="font-size: 15px;">Título</th>
            <th style="font-size: 15px;">Autor</th>
            <th style="font-size: 15px;">Editorial</th>
            <th style="font-size: 15px;">Paginas</th>
            <th style="font-size: 15px;">Precio</th>
            <th style="font-size: 12px;">Descatalogado</th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-libro>
          <tr>
            <td><img src="{{ libro.fotoPortada }}" width="80" /></td>
            <td style="font-size: 12px;">{{ libro.titulo }}</td>
            <td style="font-size: 12px;">{{ libro.nombreAutor }}</td>
            <td style="font-size: 12px;">{{ libro.nombreEditorial }}</td>
            <td style="font-size: 12px;">{{ libro.paginas }}</td>
            <td style="font-size: 12px;">{{ libro.precio | number : "1.2-2" }} €</td>
            <td style="font-size: 12px;">{{ libro.descatalogado ? "Sí" : "No" }}</td>
            <td></td>
            <td>
              <p-button
                icon="pi pi-pencil"
                (click)="edit(libro)"
                styleClass="p-button-rounded p-button-warning "
              ></p-button>
              <p-button
                icon="pi pi-trash"
                (click)="confirmDelete(libro)"
                styleClass="p-button-rounded p-button-danger"
              ></p-button>
              <p-button
                icon="pi pi-eye"
                (click)="showImage(libro)"
                [disabled]="!libro.fotoPortada"
                styleClass="p-button-rounded p-button-primary"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-confirmDialog></p-confirmDialog>
      <p-dialog
        header="Alerta"
        [(visible)]="visibleError"
        [style]="{ width: '50vw' }"
      >
        <p>
          {{ mensajeError }}
        </p>
      </p-dialog>
      <p-dialog
        header="{{ libro.titulo }}"
        [(visible)]="visibleFoto"
        [style]="{ width: '30vw' }"
      >
        <img [src]="foto" alt="Foto del libro" class="img-fluid" />
      </p-dialog>
    </div>
  </div>
</div>
